.nav__container {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__logo {
  height: 4rem;
}

.nav__user {
  height: 4rem;
}
